body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Hero-Section {
    border: 1px solid transparent;
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url(https://helios-i.mashable.com/imagery/articles/02ITXvFQvujykBTWrH2y0Np/hero-image.fill.size_1200x900.v1721842104.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.Upper-Layer {
    border: 1px solid transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.826);
}

.HeroHead {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 35px;
}

.HeroContent {
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 968px) {
    .HeroContent {
        display: none;
    }
}

.HeroLine {
    margin-top: 20px;
}

.HeroButton {
    font-size: 15px;
    background-color: #0866FF;
    padding: 4px 15px;
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    margin-top: 10px;
}

.HeroHead div:first-child img {
    width: 250px;
    height: 200px;
}

.LargeScreenBox {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MetaBox {
    border: 5px solid transparent;
    height: 80%;
    width: 95%;
    border-radius: 20px;
    background-color: transparent;
    transform: translateY(30px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 968px) {
    .LargeScreenBox {
        display: none;
    }
}

.FirstBlock,
.SecondBlock {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid transparent;
}

@media (min-width: 968px) and (max-width: 1268px) {

    .FirstBlock,
    .SecondBlock {
        width: 35%;
    }
}

.FirstBlock div:first-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin-bottom: 5px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/meqcBGefAkoCKChh6hGLDb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.FirstBlock div:nth-child(2) {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin: auto;
    background-image: url(https://www.uploadvr.com/content/images/size/w1024/format/webp/2022/04/ZuckerbergARGlasses_Tease.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.FirstBlock div:last-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin-top: 5px;
    background-image: url(https://media.fashionnetwork.com/cdn-cgi/image/format=auto/m/7aa8/8b6c/dd21/8bc0/df0f/0638/027c/7bd4/3cfb/28bf/28bf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



.SecondBlock div:first-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    top: 0;
    background-image: url(https://roadtovrlive-5ea0.kxcdn.com/wp-content/uploads/2022/10/meta-quest-pro-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.SecondBlock div:nth-child(2) {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    right: 0px;
    background-image: url(https://www.jonpeddie.com/wp-content/uploads/2023/06/meta_AR_001.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.SecondBlock div:last-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    bottom: 0;
    background-image: url(https://assetsio.gnwcdn.com/meta-quest-3-gaming.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.CenterHead {
    font-size: 40px;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}