body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Hero-Section {
    border: 1px solid transparent;
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url(https://helios-i.mashable.com/imagery/articles/02ITXvFQvujykBTWrH2y0Np/hero-image.fill.size_1200x900.v1721842104.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.Upper-Layer {
    border: 1px solid transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.826);
}

.HeroHead {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 35px;
}

.HeroContent {
    border: 1px solid transparent;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 968px) {
    .HeroContent {
        display: none;
    }
}

.HeroLine {
    margin-top: 20px;
}

.HeroButton {
    font-size: 15px;
    background-color: #0866FF;
    padding: 4px 15px;
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    margin-top: 10px;
}

.HeroHead div:first-child img {
    width: 250px;
    height: 200px;
}

.LargeScreenBox {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MetaBox {
    border: 5px solid transparent;
    height: 80%;
    width: 95%;
    border-radius: 20px;
    background-color: transparent;
    transform: translateY(30px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 968px) {
    .LargeScreenBox {
        display: none;
    }
}

.FirstBlock,
.SecondBlock {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid transparent;
}

@media (min-width: 968px) and (max-width: 1268px) {

    .FirstBlock,
    .SecondBlock {
        width: 35%;
    }
}

.FirstBlock div:first-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin-bottom: 5px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/meqcBGefAkoCKChh6hGLDb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.FirstBlock div:nth-child(2) {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin: auto;
    background-image: url(https://www.uploadvr.com/content/images/size/w1024/format/webp/2022/04/ZuckerbergARGlasses_Tease.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.FirstBlock div:last-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    margin-top: 5px;
    background-image: url(https://media.fashionnetwork.com/cdn-cgi/image/format=auto/m/7aa8/8b6c/dd21/8bc0/df0f/0638/027c/7bd4/3cfb/28bf/28bf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



.SecondBlock div:first-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    top: 0;
    background-image: url(https://roadtovrlive-5ea0.kxcdn.com/wp-content/uploads/2022/10/meta-quest-pro-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.SecondBlock div:nth-child(2) {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    right: 0px;
    background-image: url(https://www.jonpeddie.com/wp-content/uploads/2023/06/meta_AR_001.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.SecondBlock div:last-child {
    border: 1px solid transparent;
    width: 180px;
    height: 130px;
    position: absolute;
    bottom: 0;
    background-image: url(https://assetsio.gnwcdn.com/meta-quest-3-gaming.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.CenterHead {
    font-size: 40px;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Jim's Meta's Platform CSS */

.Meta-Platform-Head {
    color: white;
    font-size: 50px;
    margin-top: 20px;
}

.Product-section {
    border: 1px solid transparent;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-image: url(https://cdn.vectorstock.com/i/500p/41/14/meta-social-media-logo-symbol-design-vector-47794114.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Product-Cards-Zone {
    border: 1px solid transparent;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.FirstCard,
.SecondCard,
.ThirdCard,
.FourthCard,
.FifthCard,
.SixthCard {
    border: 4px solid rgba(128, 128, 128, 0.821);
    height: 450px;
    width: 300px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 0px 15px 0.3px rgba(0, 0, 0, 0.586);
}

.FirstCard {
    background-image: url(https://i.ytimg.com/vi/RydG5UU1hZQ/maxresdefault.jpg);
}

.SecondCard {
    background-image: url(https://platform.theverge.com/wp-content/uploads/sites/2/2025/06/meta-ads-whatsapp-copy.jpg?quality=90&strip=all&crop=21.875,0,56.25,100);
}

.ThirdCard {
    background-image: url(https://blog.hootsuite.com/wp-content/uploads/2021/03/Instagram-reels.png);
}

.FourthCard {
    background-image: url(https://www.mymobileindia.com/wp-content/uploads/2024/11/image-345.png);
}

.FifthCard {
    background-image: url(https://images.bhaskarassets.com/web2images/1884/2025/01/25/threads-2_1737793336.jpg);
}

.SixthCard {
    background-image: url(https://imageio.forbes.com/specials-images/imageserve/615e91093dd87c85747d4adb/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds);
}

.DataZone {
    font-size: 10px;
    border: 2px solid transparent;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.899);
    z-index: 11;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.DataZone button {
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 12px;
}

.DataZone button:first-child {
    background-color: #0866FF;
    color: white;
}

.DataZone button:last-child {
    border: 1px solid #0866FF;
}

.DataZone button:last-child:hover {
    background-color: #0866FF;
    color: white;
}

.CardLayer {
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


.Logo,
.LogoTwo,
.LogoThree,
.LogoFour,
.LogoFive,
.LogoSix {
    border: 1px solid transparent;
    height: 30%;
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    background-color: #0866FF;
}

.LogoTwo {
    background-color: #25D366;
}

.LogoThree {
    background: linear-gradient(135deg,
            #F58529 0%,
            #DD2A7B 35%,
            #8134AF 65%,
            #515BD4 100%);

}

.LogoFour {
    background: linear-gradient(135deg,
            #00B2FF,
            #006AFF);

}

.LogoFive {
    background-color: rgb(59, 59, 59);
}

.LogoSix {
    background-color: #00B2FF;
}


.Logo img,
.LogoTwo img,
.LogoThree img,
.LogoFour img,
.LogoFive img,
.LogoSix img {
    width: 50px;
    height: 50px;
}

.Content {
    border: 1px solid transparent;
    height: 70%;
    background-color: rgb(255, 255, 255);
    transform: translateY(100%);
    opacity: 0;
    transition: 1s all ease;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.CardLayer:hover .Logo {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .LogoTwo {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .LogoThree {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .LogoFour {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .LogoFive {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .LogoSix {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.CardLayer:hover .Content {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s all ease;
}

.Text {
    border: 1px solid transparent;
    transform: translateY(-60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Text img {
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;
}


.innerContent {
    color: black;
    font-size: 12px;
}